<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->


<suite name="Run Resume Test Method">
  <test name="ResumeTestOnly">
    <classes>
      <class name="Tests.ResumeTest">
        <methods>
          <include name="testlogin"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>

